{% load static %}
{% load crispy_forms_tags %}
<style type="text/css">
    label{color: white !important;}
</style>
<!-- CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

<!-- jQuery and JS bundle w/ Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- SEO Meta Tags -->
    <meta name="description" content="Aria is a business focused HTML landing page template built with Bootstrap to help you create lead generation websites for companies and their services.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
	<meta property="og:site_name" content="" /> <!-- website name -->
	<meta property="og:site" content="" /> <!-- website link -->
	<meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
	<meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
	<meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
	<meta property="og:url" content="" /> <!-- where do you want your post to link to -->
	<meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>ABHISHEK COMPUTER SEVICES</title> 
    
    
    
    

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600&display=swap&subset=latin-ext" rel="stylesheet">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/fontawesome-all.css' %}" rel="stylesheet">
    <link href="{% static 'css/swiper.css' %}" rel="stylesheet">
	<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
	<link href="{% static 'css/styles.css' %}" rel="stylesheet">
	
	<!-- Favicon  -->
    <link rel="icon" href="{% static 'images/favicon.png' %}">
</head>
<script type="text/javascript">
    $(".alert").alert('close')
</script>
<body data-spy="scroll" data-target=".fixed-top">

    
    <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader -->
    

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark navbar-custom fixed-top">
        <!-- Text Logo - Use this if you don't have a graphic logo -->
        <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Aria</a> --> 

        <!-- Image Logo -->
        <a class="navbar-brand logo-image" href="index.html">
            <img src="{% static 'images/logo.svg' %}" style="width: 140%" alt="Abhishek Computers Logo">
            <b style="color: white;">Abhishek Computers</b>
            
        </a>
        
        <!-- Mobile Menu Toggle Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-awesome fas fa-bars"></span>
            <span class="navbar-toggler-awesome fas fa-times"></span>
        </button>
        <!-- end of mobile menu toggle button -->

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#header">HOME <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#intro">INTRO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#services">WANT COMPUTER</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#callMe">REPAIR COMPUTER ??</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link page-scroll" href="#contact">CONTACT</a>
                </li>
            </ul>
        </div>
    </nav> <!-- end of navbar -->
    <!-- end of navbar -->

    <!-- Header -->
    <header id="header" class="header">
        <div class="header-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="text-container">
                            <h1>COMPUTER <span id="js-rotating">NETWORKING, SERVICES, SOLUTIONS, INSTALLING</span></h1>
                            <p class="p-heading p-large">"ABHISHEK COMPUTER SEVICES" Repaires and Find the solutions Of <b>Your's Computer</b> Problems Within Less Time.
                                <br>
                            <a class="btn-solid-lg page-scroll" style="margin-top:30px" href="#intro">DISCOVER</a>
                        </div>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->
    <div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                 {{ message|safe }}
                  <button  type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button >
                </div>
            {% endfor %}
        {% endif %}
    </div>



    <!-- Intro -->
    <div id="intro" class="basic-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="text-container">
                        <div class="section-title">INTRO</div>
                        <h2>Our <b>Goal</b> is make your Computer to do your work with efficiently.</h2>
                        <p>We have <b>20 - 10</b> years of experience in Computer Repairing,Maintenance And Purchasing Computers</p>                        
                        <div class="testimonial-author">Sanjay Gawade </div>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
                <div class="col-lg-7">
                    <div class="image-container">

                        <img class="img-fluid" src="{% static 'images/intro-pic.jpg' %}" alt="alternative">
                    </div> <!-- end of image-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of intro -->


    <!-- Description -->
    <div class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Card -->
                    <div class="card">
                        <span class="fa-stack">
                            <!-- <span class="hexagon"></span> -->
                            <img src="{% static 'images/laptop.png' %}" height="100" width="100">
                            <!-- <i class="fas fa-binoculars fa-stack-1x"></i> -->
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Windows Installation</h4>
                            <p>Windows XP,7,8,10 installation with Drivers & Some important softwares for free</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <span class="fa-stack">
                            <img src="{% static 'images/computer_network.png' %}" height="100" width="100">
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Computer Networking</h4>
                            <p>Building Networking with your Computer and Server with LAN and CAT-6 Cable. Making You to Share Files with other Computers</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <span class="fa-stack">

                           <img src="{% static 'images/Printer.png' %}" height="100" width="100">
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Printer Repairing & Cartilage Refiling</h4>
                            <p>Laser , InkJet Printer Repairing & Installing with Drives. Cartilage Refiling of <b>Black ,<span style="color: red">R</span><span style="color: blue">B</span><span style="color: green">G</span></b> colours</p>
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <span class="fa-stack">
                            <img src="{% static 'images/computer.png' %}" height="100" width="100">
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Advice About New Computers Buying & Selling 2<sup>nd</sup> hand Computers</h4>
                            <p>Making you to buy New Computers Which suits Your Work.Selling Computers at Affordable Price with fast performance with <b>Long Term Support.</b> </p>
                        </div>
                    </div>
                    <!-- end of card -->
                    <!-- Card -->
                    <div class="card">
                        <span class="fa-stack">
                           <img src="{% static 'images/computer_repairing.png' %}" height="100" width="100">
                        </span>
                        <div class="card-body">
                            <h4 class="card-title">Computer Repairing & Maintenance</h4>
                            <p><b>Testing & Troubleshooting </b> Your Computer To Solving and Detecting Your Computer's Problem and Repairing at Affordable Price </p>
                        </div>
                    </div>

                    <!-- Card -->
                    <div class="card">
                        <span class="fa-stack">
                            <img src="{% static 'images/software.png' %}" height="100" width="100">
                        </span>
                        <div class="card-body">

                            <h4 class="card-title">Building Your Website & Desktop Applications <span style="color: red">New</span></h4>
                            <p>Want to build your own website for your shop,school,.. etc. <b></b>To increase your <b>business & popularity</b> in market with <b>No Annoying Ads.</b>
                            <br>Desktop Applications for making your daily tasks easy on your computers with backup facility. </p>
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 -->
    <!-- end of description -->


    <!-- Services -->
    <div id="services" class="cards-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">WANT COMPUTER</div>
                    <h2>Choose Computer<br>And Call Us To <span style="color: red">Buy</span></h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Card -->
                    <div class="card">
                        <div class="card-image">

                            <img class="img-fluid" src="{% static 'images/sell-1.jpg' %}" alt="Intel MotherBoard Desktop" title="Intel MotherBoard Desktop">
                        </div>
                        <div class="card-body">
                            <h3 class="card-title">Intel MotherBoard Desktop</h3>
                            <p>A 2<sup>nd</sup> Hand Computer With <b>intel i3</b> Processor With 15 inch LCD Monitor</p>
                            <ul class="list-unstyled li-space-lg">
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">4GB RAM & <b>2 GB NAVIDA GRAPHICS CARD</b></div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">2 CREATIVE SPEKERS</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">8 USB 3.0 SPEED PORTS</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">WINDOWS 10 PROFESSTIONAL with office 360</div>
                                </li>
                                <li class="media">
                                    <i class="fas fa-square"></i>
                                    <div class="media-body">One Keyboard & Mouse Free</div>
                                </li>
                            </ul>
                            <p class="price">Starting at <span>Rs 10,000</span></p>
                        </div>
                        <div class="button-container">
                            <a class="btn-solid-reg page-scroll" href="tel:+919860390980">CALL TO BUY</a>
                        </div> <!-- end of button-container -->
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-2 -->
    <!-- end of services -->

    <!-- Call Me -->
    <div id="callMe" class="form-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <div class="section-title">REPAIR COMPUTER ??</div>
                        <h2 class="white">Repair Your Computer By Filling And Submitting The Form</h2>
                        <p class="white">Just fill in the form and send it to us and we'll get right back with a call to help Solve Your Computer Problem</p>
                        <ul class="list-unstyled li-space-lg white">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">It's very easy just fill in the form so we can call or take remote to solve your Computer Problem</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">You might not get call just after filling form. Give us some time to reach you...</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Don't hesitate to email us for any questions or inquiries</div>
                            </li>
                        </ul>
                    </div>
                </div> <!-- end of col -->
                <div class="col-lg-6">
                   
                    <!-- Call Me Form -->
                    <form action="" enctype="multipart/form-data" method="post">
                        {% csrf_token %}
                        {{form|crispy }}
                        <input type="submit" class='btn btn-success btn-lg btn-block' value="Repair Your Computer !! ">

                    </form>
                    <!-- end of call me form -->
                    
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-1 -->
    <!-- end of call me -->



    <!-- Contact -->
    <div id="contact" class="form-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <div class="section-title">CONTACT</div>
                        <h2>Get In Touch Using The Form</h2>
                        <p>If your Problems are not reaching to us just Call or Mail or visit our Shop from Below</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="address"><i class="fas fa-map-marker-alt"></i>Plot Number: 8 VijayNagar Alamgir Road Bhingar ,Maharashtra INDIA</li>
                            <li><i class="fas fa-phone"></i><a href="tel:+919860390980">Sanjay Gawade (+91 9860 390980)</a></li>
                            <li><i class="fas fa-phone"></i><a href="tel:+919172668140">+91 9172 668 140</a></li>
                            <li><i class="fas fa-envelope"></i><a href="mailto:sanjay_gwade@hotmail.com">sanjay_gwade@hotmail.com</a></li>
                        </ul>
                        <h3>Follow <b>ABHISHEK COMPUTERS</b> On Social Media</h3>

                        <span class="fa-stack" title="ABHISHEK COMPUTERS FACEBOOK">
                            <a href="https://www.facebook.com/abhishek.gawade.1612">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack" title="ABHISHEK COMPUTERS TWITTER">
                            <a href="https://mobile.twitter.com/Abhishe11385979">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack" title="ABHISHEK COMPUTERS INSTAGRAM">
                            <a href="https://www.instagram.com/sanjaygawade29285/">
                                <span class="hexagon"></span>
                                <i class="fab fa-instagram fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack" title="ABHISHEK COMPUTERS INKEDIN">
                            <a href="https://www.linkedin.com/in/abhishek-gawade-4890181b1">
                                <span class="hexagon"></span>
                                <i class="fab fa-linkedin-in fa-stack-1x"></i>
                            </a>
                        </span>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-2 -->
    <!-- end of contact -->





    <!-- Copyright -->

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p class="p-small">Made By <b style="color: white !important">Abhishek Gawade</b> By HTML,CSS,BOOTSTRAP and Django Python With pyhtonforeveryone hosting site</p>
                </div> <!-- end of col -->
            </div> <!-- enf of row -->
        </div> <!-- end of container -->
    </div> <!-- end of copyright --> 
    <!-- end of copyright -->
     </div> <!-- end of container -->
    </div> <!-- end of footer -->  
    <!-- end of footer -->
    
       
     
 
    <!-- Scripts -->
    <script src="{% static 'js/jquery.min.js' %}"></script> <!-- jQuery for Bootstrap's JavaScript plugins -->
    <script src="{% static 'js/popper.min.js' %}"></script> <!-- Popper tooltip library for Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script> <!-- Bootstrap framework -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script> <!-- jQuery Easing for smooth scrolling between anchors -->
    <script src="{% static 'js/swiper.min.js' %}"></script> <!-- Swiper for image and text sliders -->
    <script src="{% static 'js/jquery.magnific-popup.js' %}" ></script> <!-- Magnific Popup for lightboxes -->
    <script src="{% static 'js/morphext.min.js' %}"></script> <!-- Morphtext rotating text in the header -->
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script> <!-- Isotope for filter -->
    <script src="{% static 'js/validator.min.js' %}" ></script> <!-- Validator.js - Bootstrap plugin that validates forms -->
    <script src= "{% static 'js/scripts.js' %}"></script> <!-- Custom scripts -->
</body>
</html>